@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: grid;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.peach-und::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fe948d;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Styles for the WiDayLightWind icon */
.WiDayLightWind:hover {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 5vw; /* font size will be 5% of viewport width */
}
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi.ttf");
}

.resume-link {
  color: black;
}
.text-peach:hover {
  color: #fe948d;
}
.dark .hover\:text-peach:hover {
  color: #fe948d;
}

.highlight {
  color: #fe948d;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #fe948d;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.highlight:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #feb8b2;
  text-decoration: none;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1.5px solid;
  width: 10%;

  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #9b6bcc;
  }
  100% {
    border-color: transparent;
  }
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .text {
    font-size: 20px;
  }
}

.text {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
